body {
  background-color: $light-gray;
  color: $medium-gray;
}

.delete-me {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    text-align: center;

    h1 {
      font-weight: 200;
      font-size: golden-ratio(30px, 1);
    }
  }
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;
  background: blue;

  h1 {
    color: white;
    font-size: golden-ratio(30px, 1);
  }

  .hero-content {
    text-align: center;
  }

}
