---
title: Peter N. Buzaid | Experienced Lawyer
---

.container{style: 'max-width:700px;margin-top:100px;'}
	.row
		.center-block
			.col-sm-3.col-xs-3
				= image_tag 'http://static1.squarespace.com/static/552fdfe0e4b043e3d52dbe14/t/55c8b83de4b07194e0c06ecc/1439219056750/', class: 'img-circle img-responsive'
			.col-sm-9
				%h2 The Law Office of
				%h1 Peter N. Buzaid

	.row{style: 'margin-top: 50px;'}
		.col-sm-3.text-right
			%b Contact
		.col-sm-9
			(203) 743 - 0600
			%br
			peter@buzaidlaw.com
			%address
				59 Main Street
				%br
				Danbury, CT 06810
	.row
		.col-sm-3.text-right
			%b About
		.col-sm-9
			%p Peter Buzaid fights for his clients, innocent or guilty. He grew up no the streets of Danbury, hustling everyday, not knowing the next time he will be able to eat. Then he read the book The Firm by John Grisham and knew he wanted to be a lawyer
	.row
		.col-sm-3.text-right
			%b Experience
		.col-sm-9
			%p 
				Peter has been practicing lawyering for years, so he's pretty good at it. He graduated from 
				%b Fordham Law
				in 1980 with and proceeded to pass the New York State bar to begin his practice has a public defender in the Bronx

	.row
		.col-sm-3.text-right
			%b Practice Areas
		.col-sm-9
			%ul
				%li DUIs
				%li Ridgefield kid drug charges
				%li Divorces
				%li Real Estate Closings
				%li Illegal bird fighting
				%li Wills 
				%li Child Custody



