---
title: Peter N. Buzaid | Experienced Lawyer
---

.container{style: 'max-width:700px;margin-top:100px;'}
	.row
		.center-block
			.col-sm-3.col-sm-offset-0.col-xs-4.col-xs-offset-4
				= image_tag 'http://static1.squarespace.com/static/552fdfe0e4b043e3d52dbe14/t/55c8b83de4b07194e0c06ecc/1439219056750/', class: 'img-circle img-responsive'
			.col-sm-9.col-xs-12
				%h2 The Law Office of
				%h1 Peter N. Buzaid

	.row{style: 'margin-top: 50px;'}
		.col-sm-3.text-right
			%b Contact
		.col-sm-9
			(203) 743 - 0600
			%br
			peter@buzaidlaw.com
			%address
				59 Main Street
				%br
				Danbury, CT 06810
	.row
		.col-sm-3.text-right
			%b About
		.col-sm-9
			%p Experienced and Professional Legal Representation. He has extensive experience in the courtroom, both state and federal, and can present your case with confidence and the careful trial preparation that can lead to a better outcome in the case, whether business related, family law or criminal charges.
			
	.row
		.col-sm-3.text-right
			%b Experience
		.col-sm-9
			%p Attorney Peter N. Buzaid has been practicing as an attorney for more than 33 years. He is known for the quality of his representation and legal work in a variety of practice areas, including the following:
			
			%ul
				%li Criminal Defense
				%li DUI
				%li Family Law
				%li Juvenile Law
				%li Real Estate Law
				%li Civil Litigation
				%li Property law and litigation
				%li Landlord Tenant
				%li Foreclosure Defense
				%li Business Formation
				%li Wills / Estates / Trusts and litigation involving those issues
				%li Property Tax Appeals
		



